// Hack around overriding the existing notif css - we need the other notif css for fade in animation
.notif__container {
  z-index: 1240 !important;
  width: 100% !important;
  top: 100px !important;
  max-width: 100% !important;
}
